
## Mac hidden files:
.DS_Store

## Other files
*.pyc
*.list
*.o
*.dep

testsuite/build/**

project-xcode-galgas/build-developer-v3/*
project-xcode-galgas/galgas-developer-v3.xcodeproj/xcuserdata/*
project-xcode-galgas/galgas-developer-v3.xcodeproj/project.xcworkspace/*

project-xcode-galgas/galgas-distribution/*
project-xcode-galgas/galgas-distribution.xcodeproj/xcuserdata/*
project-xcode-galgas/galgas-distribution.xcodeproj/project.xcworkspace/*

makefile-macosx/galgas
makefile-macosx/galgas-debug
makefile-x86linux32-on-macosx/galgas
makefile-x86linux32-on-macosx/galgas-debug
makefile-x86linux64-on-macosx/galgas
makefile-x86linux64-on-macosx/galgas-debug
makefile-win32-on-macosx/galgas.exe
makefile-win32-on-macosx/galgas-debug.exe
makefile-unix/galgas
makefile-unix/galgas-debug

build/indexes/*

galgas-documentation-latex-sources/galgas-book.pdf
galgas-documentation-latex-sources/temp.galgas
galgas-documentation-latex-sources/temp.galgas.tex

sample_code/*/build/**

sample_code/*/makefile-macosx/**

sample_code/*/makefile-unix/**

sample_code/*/makefile-win32-on-macosx/**

sample_code/*/makefile-x86linux32-on-macosx/**

sample_code/*/makefile-x86linux64-on-macosx/**

sample_code/*/project-codeblocks-linux32/**

sample_code/*/project-codeblocks-linux64/**

sample_code/*/project-codeblocks-mac/**

sample_code/*/project-codeblocks-windows/**

sample_code/*/xcode-project/**

sample_code/assignment_language/example
sample_code/assignment_language/example.c
sample_code/class_sample_language/samples/100000-classes.cpp
sample_code/logo/exemples-logo/*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlo

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# easy-todo
*.lod

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# Kile
*.backup

# KBibTeX
*~[0-9]*

# auto folder when using emacs and auctex
/auto/*

# expex forward references with \gathertags
*-tags.tex
TEST_GALGAS/**
