<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ggs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>Galgas Source</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>cocoaGalgas</string>
	<key>CFBundleIconFile</key>
	<string>galgasApplication</string>
	<key>CFBundleIdentifier</key>
	<string>fr.ec-nantes.irccyn.molinaro.cocoaGalgas</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>GGSX</string>
	<key>CFBundleVersion</key>
	<string>build 69, libpm 107</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
