<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ggs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>Galgas Source</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gSemantics</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>GALGAS semantics Component</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gLexique</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>GALGAS lexique Component</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gOption</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>GALGAS option Component</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gMetamodel</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>GALGAS metamodel Component</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gSyntax</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>GALGAS syntax Component</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gGrammar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>GALGAS grammar Component</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gGui</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>GALGAS GUI Component</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gProgram</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>galgasDocuments.icns</string>
			<key>CFBundleTypeName</key>
			<string>GALGAS program Component</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OC_GGS_Document</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>cocoaGalgasPPC</string>
	<key>CFBundleIconFile</key>
	<string>galgasApplication</string>
	<key>CFBundleIdentifier</key>
	<string>fr.ec-nantes.irccyn.molinaro.cocoaGalgas</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>GALGAS_BETA_VERSION</string>
	<key>CFBundleSignature</key>
	<string>GGSX</string>
	<key>CFBundleVersion</key>
	<string>BUILD_AND_LIBPM</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
