<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>GALGAS 3 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas3</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).SWIFT_SingleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Galgas 4 Project File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas4Project</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).SWIFT_SingleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GALGAS Template Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas3Template</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).SWIFT_SingleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GALGAS 3 Project File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas3Project</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).SWIFT_SingleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GALGAS 4 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas4</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).SWIFT_SingleDocument</string>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>14.6</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GALGAS 3 File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>galgasDocuments</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>galgas</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>galgas 3 Template</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>galgasDocuments</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas3Template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>galgasTemplate</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GALGAS 3 Project</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>galgasDocuments</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas3Project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>galgasProject</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GALGAS 4 File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>galgasDocuments</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas4</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ggs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GALGAS 4 Project</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>galgasDocuments</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).galgas4Project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ggsProject</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
